html, body {
  height: 100%;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

.thermostat-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thermostat {
  height: 450px;
  width: 450px;
  border-radius: 50%;
  border-style: solid;
}
